/* 
    Document   : frontend
    Created on : Nov 6, 2013, 8:29:07 PM
    Author     : Juan Manuel Agüero <jaguero@flowcode.com.ar>
    Description:
        Purpose of the stylesheet follows.
*/

@import url("fonts/fonts.css");
root { 
    display: block;
}

body{
    background-image: url('/images/bg-front.jpg');
    background-size: cover;
    background-position: center center;
}

#header{
    height: 180px;
    padding: 50px 20px;
}
#content{
    padding: 20px;
    min-height: 600px;
    padding-bottom: 200px;
}
#footer{
    width: 100%;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #2C3E50;
    color: whitesmoke;
    font-size: 13px;

}

.title{
    font-family: sans-serif;
    font-size: 38px;
    text-shadow: 2px 2px 5px #333;
}
a.navbar-brand{
    font-size: 40px;
    line-height: 36px;
    padding: 8px;
}
.qsgen-logo{
    font-family: "lilyupcregular";
    color: #8FB1D5 !important;
}
.qsgen-logo span{
    color: #9BBB59;
}
.searchbox{
    min-height: 260px;
}
.searchbox-body{
    height: 300px;
}


/* */
#footer h4,h3{
    color: lightblue;
}
#footer a{
    color: #ddd;
}

.login-page-box {
    width:100%;
    text-align:center;
    border: 1px solid #aaa;
    margin-top:50px;
    margin-left:0px;
}
.see-more {
    margin-top:8px;
    position:relative;
    left:60%;
}
.text-box {
    min-height:100px;
}
.link-app {
    background-color:#5BB75B;
    color:#9FC191;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.50)
}
.carousel-caption h4 {
    color:#CCCCCC;
}
hr {
    height: 2px;
}


.app{
    min-height: 400px;
}

#first-row{
    margin-bottom: 70px;
    padding-top: 50px; 
    min-height: 400px;
}
#second-row{
    margin-bottom: 80px;
}
#portada h3{
    font-size: 46px;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}
#portada p{
    color: #a6e1ec;
    font-size: 26px;
    text-shadow: 1px 1px 1px black;
}
#login-box{
    opacity: 0.85;
}

.page{
    background-color: #fff;
    opacity: 0.7;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-top: -21px;
    box-shadow: 0px 0px 10px #333;
    min-height: 500px;
}

.help-block.success{
    color: green;
}
.help-block.error{
    color: red;
}

.btn-main{
    margin-top: 50px;
    height: 100px;
    box-shadow: 0px 0px 8px #333;
}