<div class="app">
    <div ng-hide="viewingResults">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <label class="control-label col-md-3">Cultivo</label>
                <div class="col-md-9">
                    <select id="cultivo-selection" class="form-control" ng-model="cultivo" ng-change="select_cultivo()" ng-options="c.nombre for c in cultivos">
                        <option value="">-- elegir cultivo --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="search-box">
                <div class="col-md-3">
                    <div class="well searchbox">
                        <h4>Zonas &nbsp;<button ng-show="readyZonas" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Ver Mapa</button>
                            <img src="/images/ajax-loader.gif" ng-show="spinnerZonas" class="img-responsive pull-right" ></h4>
                        

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Mapa de Zonas</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="images/mapa.png"></img>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="searchbox-body" >
                            <div class="checkbox" ng-repeat="zona in zonas">
                                <label href="/images/mapa.png">
                                    <input type="checkbox"
                                           name="zonas_selected[]"
                                           value="{{zona.id}}"
                                           ng-checked="zonas_selected.indexOf(zona.id) > -1"
                                           ng-click="toggleZonaSel(zona.id)"
                                           />
                                    {{zona.nombre}}
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-block" ng-disabled="!readyZonas" ng-click="filter_zona()">Siguiente <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="well searchbox">
                        <h4>Campañas &nbsp;<img src="/images/ajax-loader.gif" ng-show="spinnerCampanias" class="img-responsive pull-right" ></h4>
                        <div class="searchbox-body">
                            <div class="checkbox" ng-repeat="campana in campanas">
                                <label>
                                    <input type="checkbox"
                                           name="campanas_selected[]"
                                           value="{{campana.campana}}"
                                           ng-checked="campanas_selected.indexOf(campana.campana) > -1"
                                           ng-click="toggleCampanaSel(campana.campana)"
                                           />
                                    {{campana.campana}}
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-block" ng-disabled="!readyCampanias" ng-click="filter_campana()">Siguiente <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Fecha de Siembra &nbsp;<img src="/images/ajax-loader.gif" ng-show="spinnerPeriodos" class="img-responsive pull-right" ></h4>
                        <div class="searchbox-body">
                            <div ng-show="canFilterDate" class="form-horizontal">
                                <h5>Desde</h5>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Día</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="dayFrom" ng-change="validPeriodo()">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Mes</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="monthFrom" ng-change="validPeriodo()">
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <h5>Hasta</h5>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Día</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="dayTo" ng-change="validPeriodo()">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Mes</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="monthTo" ng-change="validPeriodo()">
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default btn-block" ng-class="{'btn-danger': errorPeriodo}" ng-disabled="!readyPeriodos" ng-click="filter_genotipos1()" >{{botonPeriodos.textoValue}} <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well searchbox">
                        <h4>Genotipos &nbsp;<img src="/images/ajax-loader.gif" ng-show="spinnerGenotipos" class="img-responsive pull-right" ></h4>
                        <div class="searchbox-body">
                            <div  ng-show="cultivo.id == 5">
                                <div class="radio">
                                    <label><input ng-model="fungicida" value="0" type="radio" ng-change="filter_fungicida()"> Con fungicida</label>
                                </div>
                                <div class="radio">
                                    <label><input ng-model="fungicida" value="1" type="radio" ng-change="filter_fungicida()"> Sin fungicida</label>
                                </div>
                                <div class="radio">
                                    <label><input ng-model="fungicida" value="" type="radio" ng-change="filter_fungicida()"> Indistinto</label>
                                </div>
                            </div>
                            <div><select class="form-control" ng-model="gen1"  ng-options="g.nombre for g in genotipos1" ng-change="filter_genotipos2()"></select></div>
                            <div><select class="form-control" ng-show="gen1 !== null" ng-model="gen2" ng-options="g.nombre for g in genotipos2" ng-change="filter_genotipos3()"></select></div>
                            <div><select class="form-control" ng-show="gen2 !== null" ng-model="gen3" ng-options="g.nombre for g in genotipos3" ng-change="filter_genotipos4()"></select></div>
                            <div><select class="form-control" ng-show="gen3 !== null" ng-model="gen4" ng-options="g.nombre for g in genotipos4" ng-change="filter_genotipos5()"></select></div>
                            <div><select class="form-control" ng-show="gen4 !== null" ng-model="gen5" ng-options="g.nombre for g in genotipos5"></select></div>
                        </div>
                        <button class="btn btn-success btn-block" ng-disabled="!readyGenotipos" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="search-results" ng-show="viewingResults">
        <button type="button" class="btn btn-primary pull-right" style="margin-top: 30px;" ng-click="toggleSearchBox()">
            <i class="glyphicon glyphicon-refresh"></i> Nueva Búsqueda
        </button>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-target="#graficos" data-toggle="tab"><h2>Resultados Gráficos</h2></a></li>
            <li><a data-target="#ensayos-tab" data-toggle="tab"><h2>Ensayos</h2></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="graficos">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-container">
                            <div id="placeholder" class="chart-placeholder"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Cultivo:</b></td>
                                <td>{{cultivo.nombre}}</td>
                            </tr>
                            <tr>
                                <td><b >Zonas:</b></td>
                                <td><ul class="list-inline"><li ng-repeat="zona in zonas">{{zona.nombre}}</li></ul></td>
                            </tr>
                            <tr>
                                <td><b>Campañas:</b></td>
                                <td><span ng-repeat="campana in campanas">{{campana.name}}</span></td>
                            </tr>
                            <tr>
                                <td><b>Fecha de Siembra:</b></td>
                                <td>{{dateFrom}} a {{dateTo}}</td>
                            </tr>
                            <tr>
                                <td><b>Genotipos:</b></td>
                                <td>
                                    <ul class="list-unstyled"><li ng-repeat="genotipoSel in genotipoSelected">{{genotipoSel.nombre}}</li></ul>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total ensayos compartidos:</b></td>
                                <td><span class="badge">{{ resultInstance.cantidad_ensayos}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <hr/>

                <div class="row">
                    <table class="table table-striped table-hover table-bordered" id="tabla-resultados">
                        <thead>
                            <tr>
                                <th>Genotipo</th>
                                <th>Rendimiento (kg/ha)</th>
                                <th ng-show="resultInstance.genotipos[0].aceite_promedio !== undefined">Aceite</th>
                                <th ng-show="resultInstance.genotipos[0].proteina_promedio !== undefined">Proteína</th>
                                <th>Pendiente</th>
                                <th>Intersección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="genotipo in resultInstance.genotipos">
                                <td><span class="color{{$index}}">{{genotipo.nombre}}</span></td>
                                <td>{{genotipo.rendimiento_promedio}}</td>
                                <td ng-show="genotipo.aceite_promedio !== undefined">{{genotipo.aceite_promedio}} %</td>
                                <td ng-show="genotipo.proteina_promedio !== undefined">{{genotipo.proteina_promedio}} %</td>
                                <td>{{genotipo.pendiente_recta}}</td>
                                <td>{{genotipo.interseccion}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <br/><br/>
                    <table style="margin: 0 auto;" id="total-ensayos">
                        <tr>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="ensayos-tab">
                <div class="row" id="ensayos">
                    <div class="col-sm-3" ng-repeat="ensayo in ensayos">
                        <div class="panel panel-default">
                            <div class="panel-heading">Ensayo {{$index + 1}}</div>
                            <table class="table table-condensed table-hover table-bordered">
                                <tbody>
                                    <tr>
                                        <td><strong>zona</strong></td>
                                        <td>{{ensayo.zona}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>localidad</strong></td>
                                        <td>{{ensayo.localidad}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>campaña</strong></td>
                                        <td>{{ensayo.campana}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>fecha siembra</strong></td>
                                        <td>{{ensayo.fecha_siembra}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Genotipo</th>
                                        <th>Rendimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="eg in ensayosGenotipos[ensayo.ensayo_id]">
                                        <td>{{eg.nombre}}</td>
                                        <td>{{eg.rendimiento}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
