/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2013, 8:10:24 PM
    Author     : juanma
*/

@font-face {
    font-family: 'lilyupcregular';
    src: url('lilyupc-webfont.eot');
    src: url('lilyupc-webfont.eot?#iefix') format('embedded-opentype'),
         url('lilyupc-webfont.woff') format('woff'),
         url('lilyupc-webfont.ttf') format('truetype'),
         url('lilyupc-webfont.svg#lilyupcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}